page-new-offer {

    
        #close_menu_icon_button{
            float:right
        }
        #cart_button_Id{
            float: right
        }
        #min_id{
            color: blue
        }
        #pizza_segment_id{
            
        }
        #drinks_segment-id{
            
        }
        #slides_segment_id{
           
        }
        #loginClick{
            float: right;
            margin-top: -32px;
        }
        #search_box{
            margin-top: -36px;
            margin-left: 47px;
            margin-right: 47px
        }
        #offer_id{
            text-align: center;
            background-color: crimson
        }
        
        
}
