login-page{
    #orId{
        margin-left: 50px
        }
        #loginfrom_number_id{
            background-color: white;
        }
       #social_accnt_id{
           background-color:white ;
           margin-top: 20px;
       }
       #social_accnt_text-Id{
           text-align: center
       }
       #rest_name_login_id{
           text-align: center
       }
}

