page-submenu {

    //assign variable to id
    $color:red;
#close_menu_icon_button{
    float:right
}
#cart_button_Id{
    float: right
}
#min_id{
    color: $color
}
#pizza_segment_id{
    
}
#drinks_segment-id{
    
}
#slides_segment_id{
   
}
#loginClick{
    float: right;
    margin-top: -54px;
}
#search_box{
    margin-top: -47px;
    margin-left: 47px;
    margin-right: 47px;
}

}
