page-menu {

    // Card Content css
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }
        
        }

#Menu_content_row1_id{

    
}
#text_id{
 color: white;
 

}
#text__cold_id{
    color: white;
    margin-top:45px

}
#menu_label_id_1{
    @media(min-width:320px){
        margin-left: 10px
    }
}
#pizza_card_id{
    margin-top: -75px;
}
#slide_id{
    margin-top: 0px;
}

#menu_label_id_1{
    
    color: aliceblue;
    font-size: 24px;
}
#pizz_button_id{
    
    @media(min-width:320px){
        margin-left: 28px;
        margin-top: -75px;
    }
    @media(min-width:425px){
        margin-left: 80px;
        margin-top: -75px;
    }
}

#menu_label_id_2{
    
        @media(min-width:320px){
            margin-left: 11px
        }
    }

#menu_label_id_2{
    text-align: center;
    color: aliceblue;
    font-size: 24px;
    }
    

#menu_label_id_3{

    @media(min-width:320px){
        margin-left: 10px
    }
}

#menu_label_id_3{
    text-align: center;
    color: aliceblue;
    font-size: 24px;
    }
#menu_label_id_4{
    @media(min-width:320px){
        margin-left: -10px
    }
}
#menu_label_id_4{
text-align: right
}

#menu_label_id_5{
    @media(min-width:320px){
        margin-left: 6px
    }
}
#menu_label_id_5{
    text-align: center
}
#menu_label_id_6{
    @media(min-width:320px){
        margin-left: -13px;
    }
}
#menu_label_id_6{
    text-align: right
}

}
